header{
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    height: 250px;
    background-image: url(webp/shomen.webp);
    background-size: cover;
    background-position: center;
}

.keyakiFes{
    top: 40px;
    left: 70px;
}
main{
    margin: 20px 4%;
    min-height: 600px;
}
ul{
    margin: 0 10px;
}
ul a{
    color: blue;
    border-bottom: solid 1px blue;
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    header{
        height: 150px;
    }
    .keyakiFes{
        transform: scale(60%) translate(-70%, -70%);
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */


}
