
header{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 250px;
    background-image: url(img/shokuhan.JPG);
    background-size: cover;
    background-position: center;
}

.keyakiFes{
    top: 40px;
    left: 18px;
}

main{
    margin: 20px 4%;
    min-height: 600px;
}


.booth{
    display: flex;
    overflow: hidden;
    margin: 10px 0;
    height: fit-content;
    width: 100%;
    /* border: solid 1px lightsteelblue; */
    background-color: aliceblue;
    border: solid 1px lightsteelblue;
    filter: drop-shadow(0 0 2px lightsteelblue);
    border-radius: 5px;
}
.booth .flexP{
    width: 100%;
}
.imageImage{
    flex-shrink: 0;
    margin: 10px;
    height: 150px;
    width: 200px;
    background-color: lavender;
    border-radius: 5px;
}
.imageImage img{
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* clip-path: polygon(0 6%, 0 94%, 5% 100%, 95% 100%, 100% 94%, 100% 6%, 95% 0, 5% 0); */
    /* clip-path: polygon(0 6%, 0 100%, 95% 100%, 100% 94%, 100% 0, 5% 0); */
}

.boothInfo{
    flex-shrink: 0;
    width: 80%;
    margin: 10px;

}
.boothInfo .flexP{
    border-bottom: double 3px lightsteelblue;
}
.boothInfo h2{
    margin-bottom: 5px;
    border: none;
}
.boothInfo .flex{
    margin: 0 10px;
}
.tag{
    flex-shrink: 0;
    height: fit-content;
    margin: 0 10px;
    padding: 0 12px;
    height: 24px;
    color: aliceblue;
    background-color: midnightblue;
    border-radius: 12px;

}

.trigger general{
    flex-shrink: 0;
    height: fit-content;
    margin: 0 10px;
    padding: 0 12px;
    height: 24px;
    color: aliceblue;
    background-color: midnightblue;
    border-radius: 12px;
}

.trigger outdoor{   
    flex-shrink: 0;
    height: fit-content;
    margin: 0 10px;
    padding: 0 12px;
    height: 24px;
    color: aliceblue;
    background-color: midnightblue;
    border-radius: 12px;
}

.tag img{
    height: 60%;
    margin-right: 5px;
}

.trigger outdoor img{
    height: 60%;
    margin-right: 5px;
}
.trigger general img{
    height: 60%;
    margin-right: 5px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    header{
        height: 150px;
    }
    .keyakiFes{
        transform: scale(60%) translate(-35%, -70%);
    }
    .booth{
        display: grid;
    }
    .imageImage{
        margin: auto;
        margin-top: 10px;
    }
    .boothInfo{
        width: 95%;
        margin: auto;
    }
    .boothInfo .flexP{
        display: inline;
        border: none;
    }
    .boothInfo h2{
        margin: 5px 0;
        display: block;
        text-align: center;
    }

    .boothInfo .flex{
        margin: 0;
        justify-content: center;
        padding-top: 5px;
        border-top: double 3px lightsteelblue;
    }
    .tag{
        margin: 0 3px;
    }

}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */


}
