header{
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    height: 600px;
    background-image: url(教室.png);
    background-size: cover;
    background-position: center;
}
/* header::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 8px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), aliceblue);
} */


main{
    margin: 20px 4%;
    min-height: 600px;
}


.coment{
    content: "ヘッダー";
}

.content{
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(10%) translateY(10%);
    padding-top: 30px;
    height: 500px;
    width: 500px;
    text-align: center;
    filter: drop-shadow(0 0 1px lightslategray);
}
.content .flex{
    margin: 0 auto;
    width: fit-content;
}
.content span{
    font-size: 50%;
}
.book{
    margin: 40px 10px;
    padding: 6px 6px 0 6px;
    width: fit-content;
    border: solid 2px rgb(46, 40, 87);
    border-radius: 5px;
}
.book:hover{
    transform: scale(105%);
}
.book h4{
    color: rgb(46, 40, 87);
}



.coment{
    content: "メイン";
}


.notice{
    margin: 20px 10vw;
}
.notice h3{
    margin: 0;
}
.notice div{

    padding: 10px 0;
    width: 100%;
    background-color: aliceblue;
    border-bottom: solid 1px lightsteelblue;
}




.rargeBox{
    z-index: 4;
    position: absolute;
    display: flex;
    top: 0;
    margin: 15% 46%;
    height: 200px;
    width: 346px;
    transform: translateX(-50%) rotate(0deg);
    opacity: 0.1;
}
.rargeBox::before{
    content: "";
    position: absolute;
    transform: rotate(60deg);
    height: 100%;
    width: 100%;
}
.rargeBox::after{
    content: "";
    position: absolute;
    transform: rotate(-60deg);
    height: 100%;
    width: 100%;
}
.rargeBox, .rargeBox::before, .rargeBox::after{
    background-color: lightsteelblue;
}
.rargeBox p{
    z-index: 1;
    transform-origin: top left;
    margin: 25%;
    width: 100%;
    color: midnightblue;
    text-align: center;
    font-size: xx-large;
}
.boxDeco{
    z-index: 2;
    position: absolute;
    height: 80%;
    width: 110%;
    transform: translate(-5%, 10%);
}
.boxDeco::before{
    content: "";
    position: absolute;
    transform: rotate(60deg);
    height: 100%;
    width: 100%;
}
.boxDeco::after{
    content: "";
    position: absolute;
    transform: rotate(-60deg);
    height: 100%;
    width: 100%;
}
.boxDeco, .boxDeco::before, .boxDeco::after{
    border-left: 4px solid lightsteelblue;
    border-right: 4px solid lightsteelblue;
}

.slide{
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    background-color: aliceblue;
}
.slide .flex{
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 92%;
}
.slideText{
    margin: 10px 0;
    flex: 1;
    height: 200px;
}
.triLeft{
    margin-right: 2%;
    height: 60px;
    width: 2%;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    background-color: lightsteelblue;
}
.triRight{
    margin-left: 2%;
    height: 60px;
    width: 2%;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    background-color: lightsteelblue;
}

.screen{
    flex: 1;
    position: relative;
    display: flex;
    margin: 10px 0;
    margin-right: 2%;
    justify-content: space-between;
    outline: double 4px lightsteelblue;
}
.screen img{
    width: 100%;
}
.screen::before, .screen::after{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.screen::before{
    top: 0;
    border-top: 10px solid lightsteelblue;
}
.screen::after{
    bottom: 0;
    border-bottom: 10px solid lightsteelblue;
}



.coment{
    content: "aside";
}



.coment{
    content: "パーツ";
}

.box{
    z-index: 6;
    position: absolute;
    margin: 0;
    top: 1px;
    left: 1px;
    height: 48px;
    width: 84.5px;
}
.boxFrame{
    z-index: 4;
    display: flex;
    position: relative;
    margin: 8px 6px;
    height: 50px;
    width: 86.5px;
    transform: rotate(90deg);

}
.box::before, .boxFrame::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(120deg);
}
.box::after, .boxFrame::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(-120deg);
}
.box, .box::before, .box::after{
    background-color: aliceblue;
}
.boxFrame, .boxFrame::before, .boxFrame::after{
    background-color: lightsteelblue;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .keyakiFes{
        transform: scale(60%) translate(-35%, -30%);
    }

    .content{
        transform: scale(60%) translate(45%, 45%);
    }

    .circleM{
        transform: scale(60%) translate(45%, 45%);
    }
    .book{
        transform: scale(130%);
        margin: 30px;
    }
    .notice{
        margin: 20px 0;
    }
    .text{
        margin: 50px 0;
        padding: 10px 5px;
    }
    .slide .flex{
        display: grid;
        width: 100%;
    }
    .triLeft, .triRight{
        display: none;
    }
}